* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
    
}

/* Remove o sublinhado */
a {
    text-decoration: none;
    color: inherit;
    border: 1px solid black;
    border-radius: 1rem;
    margin: .5rem;
    padding: 0;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 992px){
    .content {
         max-width: 992px;
         height: auto;
         margin: 1rem auto;
         border-radius: 1rem;
    }
 }

